<?xml version="1.0" encoding="UTF-8"?> <!-- * Declaración de la versión y codificación del XML -->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd ">

    <!-- ********* Archivo externo con los datos para inyectar los atributos de la clase DirectorEmpleado -->
    <!-- <context:property-placeholder location="classpath:datosEmpresa.propiedades" /> -->

    <!-- * Definir bean Creación de la Dependencia (Clase que implementa la Interfaz CreacionInformes) -->
    <!-- * classpath = /ProyectoSpringUnoXml/src/main/java/es/pildorasIoC/Basico/Informe.java -->
    <bean id="miInforme" class="es.pildorasIoC.Basico.Informe"></bean>

    <!-- ***** Definir bean DirectorEmpleado con Inyección a través del Constructor ***** -->
    <!-- * classpath = /ProyectoSpringUnoXml/src/main/java/es/pildorasIoC/Basico/DirectorEmpleado.java -->
    <bean id="miEmpleado" class="es.pildorasIoC.Basico.DirectorEmpleado">
        <!-- * DirectorEmpleado(CreacionInformes informeNuevo) => constructor recibiendo instancia como parámetro -->
        <constructor-arg ref="miInforme"></constructor-arg> <!-- * (IoC) -->
    </bean>

    <!-- ****** Definir bean SecretarioEmpleados con Inyección a través del Método setter (setInformeNuevo(...)) ***** -->
    <!-- * classpath = /ProyectoSpringUnoXml/src/main/java/es/pildorasIoC/Basico/SecretarioEmpleados.java -->
    <bean id="miSecretarioEmpleados" class="es.pildorasIoC.Basico.SecretarioEmpleados">
        <!-- * setInformeNuevo() ==> name="informeNuevo" (En minúsculas, sin los paréntesis y la palabra set) -->
        <property name="informeNuevo" ref="miInforme"></property> <!-- * (IoC) -->
        
        <!-- * setEmail() ==> name="email" (En minúsculas, sin los paréntesis y la palabra set) -->
        <property name="email" value="@gmail.com"></property>
        
        <!-- * setNombreEmpresa() ==> name="nombreEmpresa" (En minúsculas, sin los paréntesis y la palabra set) -->
        <property name="nombreEmpresa" value="IZG Solutions"></property>

        <!-- * setTelefono() ==> name="telefono" (En minúsculas, sin los paréntesis y la palabra set) -->
        <property name="telefono" value="+764-67-51"></property>
    </bean>

    <!-- ***** Definir bean JefeEmpleados ***** -->
    <!-- * classpath = /ProyectoSpringUnoXml/src/main/java/es/pildorasIoC/Basico/JefeEmpleados.java -->
    <bean id="JefeEmpleados" class="es.pildorasIoC.Basico.JefeEmpleados">
        <!-- * setTelefono() ==> name="telefono" (En minúsculas, sin los paréntesis y la palabra set) -->
        <property name="telefono" value="+001 0424-764-67-51"></property>
        <property name="telefono2" value="+351 0424-764-67-51"></property>
    </bean>

</beans>
